body {
    font-family: sans-serif;
     background-image: url("https://www.clipartsgram.com/image/450012956-pure-black-wallpaper-hd-1080p-plain-black-wallpaper-hd-advokaat-wallpaper-wallpaper-hd.jpg");

    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

p {
    color: white;
}
.img-medium {
    height: 200px;
}
.container{
		max-width: 800px;
		margin: 0 auto;
		color: green;
		} 
