body {
    font-family: sans-serif;
     background-image: url("https://www.clipartsgram.com/image/1613050922-hd-plain-background-wallpapers-1080p-hdwallwide.jpg");

    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

p {
    color: white;
}
.img-medium {
    height: 200px;
}
.container{
		max-width: 800px;
		margin: 0 auto;
		color: green;
		} 
		